section.acteurs {
	background-color: #68bcbf;
}
section.acteurs > div.wrapper {
		padding: 25px;
}
section.acteurs .patate {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	padding: 10px 50px;
	margin: 3px;
	background-color: white;
}
section.acteurs > div.wrapper > h1 {
	color: white;
	text-decoration: underline;
}
