body > footer {
	background: #cf002e;
	text-align: right;
}

body > footer a {
	height: 85px;
	line-height: 85px;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 42px;
}
body > footer a:hover {
	text-decoration: underline;
}
:hover