section.intro {
	padding-left: 50px;
	padding-right: 50px;
}

h1 {
	color: #cf002e;
	text-decoration: underline;
}
p {
	color: #525252
}

div.intro1 {
	display: inline-block;
	width: 66%;
}

div.icon-intro {
	display: inline-block;
	width: 31%;
}
div.icon-intro i.fa {
	font-size: 110px;
	color: #525252;
}
