/******
+ COLORS:
red: #cf002e
blue: #cf002e
grey: #525252

+ FONTS:
text: Raleway
titles: Open Sans Light

+ Spacing:
vertical: 100px
horizontal: 50px
******/

*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'ralewayregular';
  font-size: 24px;
  color: #525252;
}

header, footer, body > section {
  padding-left: 30px;
  padding-right: 30px;
/*Wa-leej à touché à ça*/
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'open_sanslight';
}
p, li, a, caption {
  font-family: 'ralewayregular';
}

div.wrapper {
  width: 1024px;
  margin: 0 auto;
}

/** utils **/

.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
